


.subMenu_Campaign_ContainerStyle {
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    min-height: 100%;
    /* height: 100%; */
    /* opacity: 0.3; */
    position: relative; 
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    min-width: 855px;
    margin: 0px;
    padding: 0px;
    z-index: 10;
    background: url('images/BC_IncSpon_back_03.png'); 
    background: rgba(255,255,255,0.9);  
  }



.textSub_Campaign_Menu {
    /* position: fixed; */
    min-width: 855px;
    /* width:100%; */
    height:70px;
    overflow:hidden;
    /* opacity: 1.0; */
    padding: 0px;
    /* left:380px; */
    top: 0px;
    left: 0px;
    color: white;
    background-image: linear-gradient(180deg, #00406A, #00406A    );
    padding: 0px;
    margin: 0px;
    top: 0px;
    z-index: 2;    
    -moz-transform-origin:left center;
    -ms-transform-origin:left center;
    -o-transform-origin:left center;
    -webkit-transform-origin:left center;
    transform-origin:left center;
    z-index: 10;
    color: white;
}


.text_Campaign {
    color:  #00406A;
    text-align: left;
    padding: 0px 10px 0px 10px;
    z-index: 10;
}


.line_Campaign {
    border-color:  #00406A;
    background:  #00406A;
    size: 2px;
    height: 2px;
}


.text-input-desc {
    color: rgb(57, 16, 133);
    text-align: left;
}




